@media (min-width: 1200px){

}
@media (min-width: 992px) and (max-width: 1199px){
	.submenu-vertical{
		width:133%;
	}
}
@media (min-width: 768px){

}
@media (min-width: 576px){

}
@media (max-width: 1199px){
	.collection .link-item img{
		max-width: 100%;
	}
	.collection .link-item .title{
		font-size:21px;
	}
	.collection .link-item img{
		max-width: 304px;
	}
	.wrap-banner .banner .title h1{
		font-size:55px;
	}
	.wrap-banner .utilities p span{
		font-size:15px;
	}
	.wrap-design-hightlight{
		padding-left: 0px;
	}
	header#header .right-head{
		text-align: right;
	}
}
@media (max-width: 991px){
	.wrap-search{
		max-width: 100%;
	}
	header#header{
		height: auto;
		margin-bottom: 70px;
	}
	header .logo{
		text-align: center;
	}
	header .container{
		position: relative;
	}
	.menu-top ul.menu li{
		padding-right: 45px;
	}
	.menu-top .container{
		position: relative;
	}
	.menu-top .vertical_menu{
		position: initial;
	}
	.head-search,.wrap-right-head{
		position: absolute;
		z-index: 50;
	}
	.wrap-right-head{
		right: 0px;
		text-align: right;
		width: auto;
	}
	.head-search{
		top: 78px;
		left: 0px;
		padding:0px;
	}
	header#header .user-login{
		display: none;
	}
	.wrap-product .main-img .product-info .title,.wrap-product .main-img .product-info .price{
		float: none;
	}
	.collection .link-item img{
		max-width: 235px;
	}
	.social-icon a{
		margin-right: 14px;
	}
	.wrap-banner .banner{
		height: auto;
	}
	.wrap-banner .container{
		width: 100%;
		max-width: 100%;
	}
	.wrap-banner >.container:first-of-type >.row >div:first-of-type{
		display: none;
	}
	.menu-icon-mobie{
		width:20px;
		position: absolute;
		left: 0px;
		top: 20px;
		cursor: pointer;
	}
	.menu-icon-mobie i{
		display: block;
	 	width: 20px;
	  	height: 1px;
	  	background-color: #fff;
	  	margin: 4px 0;
	}
	.mb-vertical-menu .icon-menu{
		display: none;
	}
	.mb-vertical-menu .icon-menu.hidden-desktop{
		display: inline-block;
	}
	.submenu-vertical{
		display: none;
	}
	
}
@media (max-width: 767px){
	.none-right-border{
		border-right:1px solid #c4c4c4;
	}
	.none-top-border{
		border-top:1px solid #c4c4c4;
	}
	.wrap-product .item{
		border-bottom: none;
	}
	.collection .link-item img{
		max-width: 176px;
	}
	footer .copyright{
		bottom: -48px;
	}
	footer{
		padding:30px 0px 65px 0px;
	}
	footer .col-second{
		padding:20px 15px;
	}
	.menu-top ul.menu{
		display: none;
	}
}
@media (max-width: 575px){
	header#header .right-head .mini-cart >span{
		display: none;
	}
	.collection .link-item img{
		max-width: 100%;
	}
	.collection .link-item .title{
		font-size:28px;
	}
	#before-footer .certificate li{
		width:100%;
		padding:15px;
		text-align: center;
		float: none;
	}
	.wrap-product,.collection{
		padding-left:15px;
		padding-right: 15px;
	}
	.wrap-banner .banner{
		padding:50px 10px;
	}
	.wrap-banner .banner .title h1{
		font-size: 38px;
	}
	.wrap-banner .utilities a{
		width: 55px;
		height: 55px;
	}
	.wrap-banner .banner .title{
		margin-bottom: 28px;
	}
	#before-footer{
		padding:33px 0px 5px;
	}

}
@media (max-width: 479px){
	.wrap-banner .banner .title h1{
		font-size: 32px;
	}
}