*{
	color:#000;
}
html,body{
	  font-family: 'Josefin Sans';
	  font-style: normal;
	  font-weight: 400;
	  font-size: 14px;
}
a{
	color:#fff;
	outline: none;
}
a:hover{
	color:#ccc;
}
a,a:hover{
	text-decoration: none;	
}
ul{
	padding-left: 0px;
}
ul li{
	list-style: none;
}
img{
	max-width: 100%;
}
input:focus{
	outline: none;
}
input.input-search{
	height:40px;
	width:100%;
	padding:18px;
	border: 1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.hidden-desktop{
	display: none;
}
.space{
	margin:28px 0px;
}
.border-default{
	border:1px solid #c4c4c4;
}
.none-right-border{
	border-right:none;
}
.none-left-border{
	border-left:none;
}
.none-top-border{
	border-top:none;
}
.product-info:after,.design-hightlight:after,.certificate:after{
content:'';
display: table;
clear: both;

}
.container-fluid{
	padding:0px;
}
a.default{
	color:#fff;
	display: inline-block;
	padding:9px 49px;
	background: #000;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-o-border-radius: 24px;
	font-weight: 700;
}
a.default:hover{
	background: #111;
	color: #f1f1f1;
}
.collection .link-item .title,.wrap-banner .utilities a img{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}


/*Start Sidebar*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index:99;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;

}
.login-sidebar{
	padding-top: 60px;
	background: #303030;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  display: block;
  transition: 0.3s;
  overflow: hidden;
  white-space:nowrap;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .menu-sidebar a{
	border-bottom: 1px solid #c4c4c4;
	color:#000;
}
.sidenav .menu-sidebar a:hover{
	background: #ccc;
}
.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

.closes {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  transform: scale(1);
  cursor: pointer;
}
.closes::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.closes::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.closes::before, .closes::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
}
/*End Sidebar*/
/*Start Header*/
header#header{
	background: #303030;
	height:70px;
	padding:15px;
}
header#header .logo{
	padding-left: 0px;
}
header#header .user-login{
	font-weight: bold;
	margin-right: 41px;
}
header#header .right-head{
	padding:15px 0px;
	text-align: right;	
}
header#header .mini-cart span{
	color:#fff;
	margin-left: 15px;
}
.wrap-search{
	position: relative;
	max-width: 462px;
}
.wrap-search:after{
	cursor: pointer;
	content: '';
	width:22px;
	height:22px;
	display: inline-block;
	position: absolute;
	right:13px;
	top: 10px;
	background:url('../images/homepage/search-icon.png');
}
/*End Header*/

/*Start Menu*/
.menu-top{
	background: #c4c4c4;
}
.menu-top .vertical_menu{
	cursor: pointer;
}
.menu-top ul.menu{
	margin-bottom: 0px;
}
.menu-top ul.menu li{
	display: inline-block;	
	padding-right: 158px;
}
.menu-top ul.menu li a{
	display: inline-block;
	padding: 7px;
	width: 100%;
}
.menu-top ul.menu li i{
	width:24px;
	height:24px;
	background: url('../images/homepage/blueprint.png') no-repeat;;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	
}
.menu-top ul.menu li.unit-crane i{
	background: url('../images/homepage/crane.png') no-repeat;
}
.mb-vertical-menu .icon-menu{
	cursor: pointer;
	display: inline-block;
	width:22px;
	height: 22px;
	background:url('../images/menu/icon-menu.png') no-repeat; 
	position: absolute;
	top: 8px;
	left:6px;
}
.mb-vertical-menu .icon-menu.hidden-desktop{
	display: none;
}
.mb-vertical-menu .title span{
	display: inline-block;
	padding:9px 9px 9px 30px;
	width:100%;
}
.submenu-vertical{
	background: #efefef;
	padding:0px 0px 4px 0px;
	position: absolute;
	width: 100%;
	z-index: 10;
	left: 0px;	
}
.submenu-vertical .nav_verticalmenu{
	margin-bottom: 0px;
}
.submenu-vertical .nav_verticalmenu li:first-of-type{
	padding-top: 5px;
}
.submenu-vertical .nav_verticalmenu li:hover{
	background: #ccc;
}
.submenu-vertical ul li:last-of-type{
	padding-bottom: 0px;
}
.submenu-vertical ul li a{
	color:#000;
	display: inline-block;
	width:100%;
	padding:7px 14px;
}
.submenu-vertical ul li img{
	margin-right: 15px;
	vertical-align: top;
}
/*End Menu*/
/*Start Banner*/
.wrap-banner .banner{
	background: url('../images/homepage/banner-homepage.png') no-repeat;
	padding: 86px 10px;
	text-align: center;
	color:#fff;
	height: 604px;
	background-size: cover;
}
.wrap-banner .banner .title{
	margin-bottom: 58px;
}
.wrap-banner .banner .title h1,.wrap-banner .banner .title p{
	color:#fff;
}
.wrap-banner .banner .title h1{
	font-size: 72px;
	font-weight: bold;
}
.wrap-banner .utilities a{
	display: inline-block;
	position: relative;
	width: 100px;
	height:100px;
	border:1px solid #fff;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
}
.wrap-banner .banner .title p,.wrap-banner .utilities p span{
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: bold;
}
.wrap-banner .try-it{
	margin-top: 40px;
}
.wrap-banner .try-it a.default{
	background: #fff;
	color:#000;
	transition: all 0.5s;
}
.wrap-banner .try-it a.default:hover{
	background: #000;
	color:#fff;
}
.wrap-banner .utilities p span{
	color:#fff;
}

/*End Banner*/
/* Start Style Main Product Homepage*/
.wrap-product  .view-more a.default{
	margin-top: 105px;
}
h2.border-decoration{
	position: relative;
	font-size:24px;
}
h2.border-decoration:after{
	content: '';
	background: #000;
	left: 0px;
	bottom: -13px;
	position: absolute;
	height: 6px;
	width: 45px;
	
}
.main-img,.extra-img{
	text-align: center;
}
.main-img img{
	max-width: 337px;
	width: 100%;
}
.extra-img img{
	max-width: 254px;
}
.wrap-product .item{
	padding-bottom: 31px;
	padding-top: 19px;
}
.wrap-product .item{
	min-height: 287px;
}
.wrap-product .item:first-of-type{
	padding-top: 45px;	
}
.wrap-product .item.first-item{
	padding-left: 50px;

}
.wrap-product .row:nth-of-type(2) .item:last-of-type{
	border-bottom: 1px solid #c4c4c4;
}
.wrap-product .product-info{
	padding:0px 15px;
	position: absolute;
	left: 15px;
	bottom: 15px;
	width: 100%;
}
.product-info span{
	display: block;
}
.wrap-product .product-info .title,.wrap-product .product-info .price{
	font-size:18px;
}
.wrap-product .product-info .price{
	font-weight: 700;
}
.wrap-product .main-img .product-info .title{
	float:left;
}
.wrap-product .main-img .product-info .price{
	float:right;
	padding-right:30px;
}
/*End Style Main Product Homepage*/

.collection .item{
	padding:0px;
}
.collection .link-item{
	position: relative;
}
.collection .link-item img{
	max-width: 364px;
}
.collection .link-item .title{
	text-align: center;
	width: 74%;
	font-size:30px;
	font-weight: 700;
}
#before-footer{
	padding: 33px 0px;
	background: #e5e5e5;
}
.wrap-design-hightlight{
	padding-left:45px;
}
#before-footer .design-hightlight{
	margin-top:41px;
}
#before-footer .certificate{
	text-align: center;
}
#before-footer .certificate li{
	float:left;
	width:20%;
	padding:0px 7px;
	text-align: left;
}
footer{
	background: #303030;
	color:#fff;
	padding:50px 0px 35px 0px;
}
footer .container{
	position: relative;
}
footer ul{
	margin: 0px;
}
footer p,footer span,footer a,footer label{
	color:#fff;
}
footer .col-first{
	position: relative;
}
footer .copyright{
	position: absolute;
	bottom: 35px;
	left: 15px;
}
footer .copyright p{
	font-size: 12px;
	margin-bottom: 0px;
}
footer span.contact{
	display: inline-block;
}
footer li,footer span.contact{
	margin-bottom: 10px;
}
footer a,footer span.contact{
	font-size:18px;
}
footer a:hover{
	color:#ccc;
}
footer .contact{
	font-weight: bold;
}
footer .contact-info p,footer .contact-info span{
	font-size: 14px;
}
footer .contact-info p:first-of-type label{
	margin-right: 68px;
}
footer .contact-info p:nth-of-type(2) label{
	margin-right: 50px;
}
.social-icon{
	border-top: 2px solid #7b7b7b;
	padding-top: 20px;
}
.social-icon a{
	margin-right:24px;
}

